@font-face {
    font-family: 'HelveticaNeueBold';
    src: url(../public/assets/fonts/HelveticaNeueBold.woff2) format('woff2'),
         url(../public/assets/fonts/HelveticaNeueBold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'HelveticaNeueBold';
    font-weight: bold;
    font-size: xx-large;
}

.title-text {
    width: 70%;
}

.main-title-text {
    font-size: 64px;
}

/* ================================================ */
/*                 MOBILE SIZES                     */
/* ================================================ */

@media (max-width: 768px) {
    .main-title-text {
        font-size: 48px;
    }
}